@import url(https://fonts.googleapis.com/css?family=Lato:100,300);

body, html { padding: 0; margin: 0;}

.view-container{
  .landingView{
    background-color: #5BC0DE;
    height:100vh;
    width: 100vw;
    text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;


		.btn {
			border: none;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			font-size: inherit;
			color: inherit;
			background: none;
			cursor: pointer;
			// padding: 25px 80px;
			padding: 3vh 5vw;
			display: inline-block;
			margin: 15px 30px;
			text-transform: uppercase;
			letter-spacing: 1px;
			outline: none;
			position: relative;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}

		.btn:after {
			content: '';
			position: absolute;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}

		.btn-1 {
			border: 3px solid #fff;
			color: #fff;
		}

		.btn-1d {
			overflow: hidden;
		}

		.btn-1d:after {
			width: 0;
			height: 103%;
			top: 50%;
			left: 50%;
			background: #fff;
			opacity: 0;
			-webkit-transform: translateX(-50%) translateY(-50%);
			-moz-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}

		.btn-1d:hover,
		.btn-1d:active {
			color: #0e83cd;
		}

		.btn-1d:hover:after {
			width: 90%;
			opacity: 1;
		}

		.btn-1d:active:after {
			width: 101%;
			opacity: 1;
		}
      h1{
        font-family: 'Satisfy', cursive;
        color:white;
        font-size: 10vw;
				margin: 0px;
    }
    h2{
      font-family: 'Satisfy', cursive;
      color:white;
      font-size: 4vw;
      margin: 0 auto;
    }
  }
}


		.view-container{
			.landingInformationView{
				background-color: #F06060;
				width:100%;
				color:white;
				h4{
					font-size: 30px;
					text-align: center;
					font-family: 'Lato', sans-serif;
					font-weight: 100;
				}
				p{
					padding-left:10%;
					padding-right: 10%;
					font-family: 'Lato', sans-serif;
					font-weight: 300;
				}
			}
		}

		.section {
			clear: both;
			padding: 0px;
			margin: 0px;
		}


		.col {
			display: block;
			float:left;
			margin: 1% 0 1% 1.6%;
		}
		.col:first-child { margin-left: 0; }


		.group:before,
		.group:after { content:""; display:table; }
		.group:after { clear:both;}
		.group { zoom:1;}
		.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
	height:48vh;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
	.view-container{
		.landingView{
			.landingBox{
				.btn{
					display: block;
					margin: 15px auto;

				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
