<div class ="landingView">
  <div class="landingBox animated fadeInUp">
    <h1 class="landingHeadline">Commentario</h1>
    <h2 class="landingCaption">Feedback Management Solutions For Every Buisness</h3>
    <button class="btn btn-1 btn-1d">Login</button>
    <button class="btn btn-1 btn-1d">Register</button>
    <button class="btn btn-1 btn-1d">Review</button>
  </div>
</div>

<div class= "landingInformationView">
  <div class="section group">
  	<div class="col span_1_of_2">
      <h4 class="informationHeader">Lorem Ipsum</h4>
      <p class="informationParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
  	</div>
  	<div class="col span_1_of_2">
      <h4 class="informationHeader">Lorem Ipsum</h4>
      <p class="informationParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
  	</div>
  </div>

  <div class="section group">
    <div class="col span_1_of_2">
      <h4 class="informationHeader">Lorem Ipsum</h4>
      <p class="informationParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>
    <div class="col span_1_of_2">
      <h4 class="informationHeader">Lorem Ipsum</h4>
      <p class="informationParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>
  </div>
</div>
